html {
  scroll-behavior: smooth;
}

.home {
  /* border: 1px solid red; */
  height: 56.120vw;
  overflow: hidden;
}

.navbar{
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  justify-content: space-between;
  width: 87.701vw;
  margin-left: 4.685vw;
  margin-top: 2.196vw;
}

.navigasiNavbar {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  gap: 3.001vw;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 1.318vw;
  color: #272727;
}

.logoScc {
  width: 4.758vw;
}

.deskripsi {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: -0.3vw;
  font-size: 5.857vw;
  width: 79.356vw;
  margin-left: 4vw;
  margin-top: 4.124vw;
  height: 15.959vw;
  color: #272727;
  position: relative;
  /* border: 1px solid red; */
}

.andFont {
  font-family: "Charmonman", cursive;
  color: #0c4651;
}

.foto1 {
  width: 76.72vw;
  height: 20.059vw;
  margin-left: 4vw;
  margin-top: 4.761vw;
}

.asset1 {
  width: 39.116vw;
  position: relative;
  bottom: 11.7vw;
  left: 49.8vw;
  z-index: -2;
}

.nextButton {
  width: 3.807vw;
  position: relative;
  bottom: 24.589vw;
  left: 48vw;
}

.nextButton:hover {
  cursor: pointer;
}

.tentang {
  height: 56.120vw;
  background-color: #181A1E;
  overflow: hidden;
}

.refAbout {
  /* border: 1px solid red; */
  position: absolute;
  margin-top: 25vw;
  margin-left: 50vw;
}

.garis {
  height: 56.223vw;
  background-color: #424242;
  opacity: 0.5;
  width: 0.2vw;
  margin-left: 35.212vw;
  position: relative;
  bottom: 50vw;
}

.judulTentang {
  /* border: 1px solid red; */
  color: #F5F5F5;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 1.464vw;
  margin-left: 4.392vw;
  letter-spacing: 0.2vw;
}

.judulPanah {
  position: absolute;
  margin-top: 7.613vw;
  display: flex;
  align-items: center;
  gap: 1.903vw;
}

.deskripsiTentang {
  font-family: "Montserrat", sans-serif;
  font-size: 1.171vw;
  width: 24.744vw;
  position: absolute;
  margin-top: 36.237vw;
  margin-left: 4.5vw;
  line-height: 1.9vw;
  color: #C7C7C7;
}

.panah {
  width: 1.757vw;
  height: 1.757vw;
}

.boldPutih {
  color: #F5F5F5;
  font-weight: 500;
}

.teks1Kanan {
  position: absolute;
  font-family: "Manrope", sans-serif;
  font-weight: 200;
  font-size: 2.343vw;
  color: #C7C7C7;
  letter-spacing: -0.1vw;
  /* border: 1px solid red; */
  width: 55.124vw;
  margin-left: 42.387vw;
  margin-top: 6.808vw;
  line-height: 4.319vw;
}

.teks2Kanan {
  position: absolute;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.1vw;
  font-weight: 200;
  font-size: 2.343vw;
  color: #C7C7C7;
  width: 50.952vw;
  margin-left: 42.387vw;
  margin-top: 16.911vw;
  line-height: 4.319vw;
}

.navLebihLanjut {
  display: flex;
  align-items: center;
  position: absolute;
  margin-left: 42.533vw;
  margin-top: 39.531vw;
  gap: 0.586vw;
}

.borderLebihLanjut {
  border-radius: 2vw;
  border: 0.161vw solid #027FFF;
}

.lebihLanjut {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5vw;
  color: #F5F5F5;
}

.panahBawah {
  width: 3.6vw;
}