html {
  scroll-behavior: smooth;
}

.home {
  /* border: 1px solid red; */
  height: 100vh;
  overflow: hidden;
}

.navbar{
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  justify-content: space-between;
  width: 87.701vw;
  margin-left: 4.685vw;
  margin-top: 2.196vw;
}

.navigasiNavbar {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  gap: 3.001vw;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 1.318vw;
  color: #272727;
}

.logoScc {
  width: 4.758vw;
}

.deskripsi {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  letter-spacing: -0.3vw;
  font-size: 5.857vw;
  width: 79.356vw;
  margin-left: 4vw;
  margin-top: 4.124vw;
  height: 15.959vw;
  color: #272727;
  position: relative;
  /* border: 1px solid red; */
}

.andFont {
  font-family: "Charmonman", cursive;
  color: #0c4651;
}

.foto1 {
  width: 76.72vw;
  height: 20.059vw;
  margin-left: 4vw;
  margin-top: 4.761vw;
}

.asset1 {
  width: 39.116vw;
  position: relative;
  bottom: 11.7vw;
  left: 49.8vw;
  z-index: -2;
}

.nextButton {
  width: 3.807vw;
  position: relative;
  bottom: 24.589vw;
  left: 48vw;
}

.nextButton:hover {
  cursor: pointer;
}

.tentang {
  height: 100vh;
  
  background-color: #181A1E;
  overflow: hidden;
}

.ref {
  /* border: 1px solid red; */
  position: absolute;
  margin-top: 25vw;
  margin-left: 50vw;
}

.judulTentang {
  /* border: 1px solid red; */
  color: #F5F5F5;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 1.464vw;
  margin-left: 4.392vw;
  letter-spacing: 0.2vw;
}

.judulPanah {
  position: absolute;
  margin-top: 13.542vh;
  display: flex;
  align-items: center;
  gap: 1.903vw;
}

.deskripsiTentang {
  font-family: "Manrope", sans-serif;
  font-size: 1.171vw;
  width: 24.744vw;
  position: absolute;
  margin-top: 63.802vh;
  margin-left: 4.392vw;
  line-height: 1.9vw;
  color: #C7C7C7;
}

.panah {
  width: 1.757vw;
  height: 1.757vw;
}

.boldPutih {
  color: #F5F5F5;
  font-weight: 500;
}

.teks1Kanan {
  position: absolute;
  font-family: "Manrope", sans-serif;
  font-weight: 200;
  font-size: 2.343vw;
  color: #C7C7C7;
  letter-spacing: -0.1vw;
  /* border: 1px solid red; */
  width: 53.294vw;
  margin-left: 40.19vw;
  margin-top: 11.979vh;
  line-height: 7.682vh;
}

.teks2Kanan {
  position: absolute;
  font-family: "Manrope", sans-serif;
  letter-spacing: -0.1vw;
  font-weight: 200;
  font-size: 2.343vw;
  color: #C7C7C7;
  width: 56.589vw;
  margin-left: 40.19vw;
  margin-top: 29.167vh;
  line-height: 7.682vh;
}

.navLebihLanjut {
  display: flex;
  align-items: center;
  position: absolute;
  margin-left: 40.19vw;
  margin-top: 63.802vh;
  gap: 0.586vw;
}

.borderLebihLanjut {
  border-radius: 3.66vw;
  height: 3.88vw;
  border: 0.161vw solid #F5F5F5;
}

.lebihLanjut {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.171vw;
  position: relative;
  top: 0.3vw;
  color: #F5F5F5;
}

.panahBawah {
  width: 3.88vw;
  height: 3.88vw;
}

.blueDiv {
  position: absolute;
  background-color: #3789DE;
  height: 13.281vh;
  width: 100vw;
  margin-top: 86.719vh;
}

.bidang {
  height: 100vh;
  background-color: #F5F5F5;
  overflow: hidden;
}

.judulBidang {
  display: flex;
  align-items: center;
  margin-top: 13.542vh;
  margin-left: 4.319vw;
  width: 16.984vw;
  gap: 1.903vw;
  position: absolute;
}

.judulBidangTeks {
  font-size: 1.464vw;
  width: 13.25vw;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  letter-spacing: 0.2vw;
  color: #272727;
}

.judulBidangPanah {
  width: 1.757vw;
}

.deskripsiBidang {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 1.171vw;
  width: 46.266vw;
  line-height: 3.825vh;
  margin-left: 49.341vw;
  margin-top: 14.323vh;
  position: absolute;
  letter-spacing: -0.022vw;
  text-align: justify;
}

.buttonBidang {
  position: relative;
  margin-left: 5.271vw;
  margin-top: 22.526vh;
  display: flex;
  flex-direction: column;
  gap: 4.167vh;
}

.nomorBidang {
  border-radius: 100%;
  width: 2.928vw;
  height: 2.928vw;
  background-color: #3789DE;
  display: flex;
  align-items: center;
  justify-content: center;
}

.isiNomorBidang {
  color: #FFFFFF;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  font-size: 1.464vw;
}

.bidangScc {
  border: 0.073vw solid #C7C7C7;
  display: flex;
  align-items: center;
  width: 38.214vw;
  height: 8.203vh;
  border-radius: 0.878vw;
  transition: transform 0.5s ease, background-color 0.8s ease, height 0.3s ease, width 0.8s ease-in-out;
}

.bidangScc:hover {
  cursor: pointer;
}

.namaBidang {
  letter-spacing: 0.308vw;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  font-size: 1.464vw;
  text-transform: uppercase;
}

.kotakBidang {
  display: flex;
  align-items: center;
  gap: 2.05vw;
  padding-left: 0.878vw;
}

.panahAtas,.kategoriCyber,.deskripsiCyber {
  display: none;
}

.bidangSccCyber {
  width: 40.556vw;
  margin-left: -0.952vw;
  height: 24.349vh;
  border: none;
  background-color: #181A1E;
  display: flex;
  align-items: start;
  height: 32.552vh;
  transform-origin: top;
  transition: transform 0.8s ease, background-color 1s ease, height 0.3s ease, width 0.5s ease;
  .kategoriCyber {
    display: flex;
    width: 24.158vw;
    height: 4.818vh;
    gap: 1.757vw;
    color: #C5C6C8;
    position: absolute;
    margin-top: 25.26vh;
    margin-left: 2.489vw;
  }
  .malwareCyber,.phisingCyber,.ctfCyber{
    height: 4.818vh;
    text-align: center;
    border-radius: 3.66vw;
    background-color: #252B38;
    padding-top: 0.8vh;
  }
  .malwareCyber {
    width: 7.76vw;
  }
  .phisingCyber {
    width: 7.321vw;
  }
  .ctfCyber {
    width: 5.564vw;
  }
  .deskripsiCyber {
    position: absolute;
    width: 35.286vw;
    height: 5.729vh;
    color: #AAAAAA;
    font-family: "Manrope", sans-serif;
    font-size: 1.171vw;
    margin-top: 11.068vh;
    margin-left: 2.416vw;
    display: block;
  }
  .panahAtas {
    width: 1.757vw;
    position: absolute;
    margin-left: 36.747vw;
    margin-top: 4.684vh;
    display: block;
  }
  .kotakBidang {
    margin-top: 4.427vh;
    padding-left: 2.489vw;
  }
  .namaBidang {
    letter-spacing: normal;
    color: #F5F5F5;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
    font-size: 1.464vw;
    text-transform: capitalize;
  }
  .nomorBidang {
    display: none;
  }
}